.skill{
    width: 250px;
    background-color: #bfbebe;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icon{
    height: 60px;
    width: 60px;
    background-color: #3b3b3b;
}
.description{
    border: 1px solid #3b3b3b;
    text-align: center;
    width: 100%;
}